@model RoboScratchStudio.Models.Course

@{
    Layout = "~/Views/Shared/_Layout_no_carousel.cshtml";
}

<h2 class=" flex items-center mb-4 px-4 mt-4 text-base text-white bg-orange-400 py-2 md:mb-8 lg:text-xl xl:mb-12"><span>Trang chủ</span> <i class="fa-solid fa-chevron-right px-2 text-sm mt-1"></i> <span>@Model.Name</span> </h2>

@* Detail *@
<section class="grid gap-8 mb-4 mt-24 bg-white md:grid-cols-2 md:mb-8">
    <!-- images - start -->
    <div class=" grid gap-4 lg:grid-cols-4">
        <div id="slideshow" class="order-first relative flex-col items-center overflow-hidden lg:col-span-4">
            @foreach (var item in Model.CourseTitleImages)
            {
                @if (item.ImageTitle != null &&
               (item.ImageTitle.EndsWith(".mp4", StringComparison.OrdinalIgnoreCase) ||
               item.ImageTitle.EndsWith(".avi", StringComparison.OrdinalIgnoreCase) ||
               item.ImageTitle.EndsWith(".mkv", StringComparison.OrdinalIgnoreCase)))
                {
                    <video autoplay loop muted src="~/assets/videos/@item.ImageTitle" alt="Video scratch game class" class="w-full h-auto object-cover object-center"></video>
                }
                else
                {
                    <img src="~/assets/images/@item.ImageTitle" alt="Photo" class="w-full h-auto rounded-lg object-cover object-center absolute opacity-0 transition-opacity duration-1000" />
                }
            }
        </div>
    </div>
    <!-- images - end -->
    <!-- content - start -->
    <div class="pt-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-orange-500">@Model.Name</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">@Model.Subtext</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <a id="callButton" class="inline-flex items-center cursor-pointer gap-3 justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-600 transition delay-150 duration-250 ease-in-out">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    Liên hệ
                </a>
                <a href="#content" class="inline-flex items-center justify-center gap-3 px-4 py-2.5 text-base font-medium text-center text-gray-400 hover:text-orange-400 transition delay-150 duration-250 ease-in-out">
                    <i class="fa-solid fa-circle-info"></i>
                    <p>Chi tiết</p>
                </a>
            </div>
        </div>
    </div>
    <!-- content - start -->
</section>
@* Detail *@

@* Content *@
<div id="content" class="bg-white py-6 sm:pb-8 lg:pb-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8 cutoff-text">
        @Html.Raw(Model.Content)
        

        @* <h3 class="text-2xl font-bold text-orange-400">Scratch là gì?</h3>
        <div class="my-4 text-gray-500 ">
            Scratch là một ngôn ngữ lập trình trực quan và nền tảng cộng đồng trực tuyến được phát triển bởi MIT Media Lab. Nó được thiết kế để giúp trẻ em và người mới bắt đầu học lập trình một cách dễ dàng và thú vị. 
            Scratch được sử dụng rộng rãi trong các trường học trên toàn thế giới như một công cụ giảng dạy lập trình và tư duy logic. Nó giúp học sinh không chỉ hiểu về lập trình mà còn phát triển kỹ năng tư duy phản biện và giải quyết vấn đề.
        </div>
        <div class="my-4 text-gray-500 ">
            <span class="font-semibold">Lập Trình Kéo-Thả:</span> Scratch sử dụng giao diện lập trình kéo-thả, nơi người dùng có thể tạo ra các chương trình bằng cách kéo và thả các khối lệnh (blocks) vào khu vực lập trình. 
            Các khối lệnh trong Scratch được chia thành nhiều nhóm khác nhau như chuyển động, điều khiển, cảm biến, âm thanh, và hình ảnh. Người dùng có thể kết hợp các khối này để tạo ra các chương trình phức tạp.
        </div>
        <div class="my-4 text-gray-500 ">
            <span class="font-semibold">Học Tập Và Sáng Tạo:</span> Scratch được thiết kế để người dùng dễ dàng bắt đầu mà không cần bất kỳ kiến thức lập trình nào trước đó. Trẻ em có thể học các khái niệm cơ bản về lập trình như vòng lặp, điều kiện, và biến số thông qua các dự án vui nhộn. 
            Scratch cho phép người dùng tạo ra các trò chơi, câu chuyện tương tác, hoạt hình, và nhiều dự án sáng tạo khác. Điều này khuyến khích trẻ em phát triển tư duy sáng tạo và giải quyết vấn đề.
        </div>
        <div class="my-4 text-gray-500 ">
            <span class="font-semibold">Cộng Đồng Trực Tuyến:</span> Scratch có một cộng đồng trực tuyến nơi người dùng có thể chia sẻ các dự án của họ với mọi người trên toàn thế giới. Người dùng có thể xem, sửa đổi và học hỏi từ các dự án của người khác. 
            Cộng đồng Scratch cung cấp một môi trường học tập hợp tác, nơi người dùng có thể tương tác, đưa ra phản hồi và học hỏi lẫn nhau.
        </div>
        <h3 class="text-2xl font-semibold text-orange-400">Tại sao nên cho trẻ tham gia?</h3>
        <div class="my-4">
            <p class="text-gray-500 ">Cho trẻ tham gia lớp học Scratch Game mang lại nhiều lợi ích quan trọng, không chỉ trong việc học lập trình mà còn phát triển các kỹ năng cần thiết cho sự phát triển toàn diện của trẻ. Một số lý do phụ huynh nên cân nhắc cho con em mình tham gia lớp học này:</p>
            <ul class="pl-5">
                <li class=" font-semibold py-2 text-gray-500">
                    Phát Triển Tư Duy Lập Trình Thông Qua Trò Chơi
                    <ul class="list-disc pl-5  text-gray-500 font-normal">
                        <li><span class="font-semibold">Tư Duy Logic và Giải Quyết Vấn Đề:</span> Khi tạo ra các trò chơi bằng Scratch, trẻ phải suy nghĩ logic để xây dựng các quy tắc và hệ thống trong trò chơi. Quá trình này giúp trẻ phát triển tư duy logic và khả năng giải quyết vấn đề một cách hiệu quả.</li>
                        <li><span class="font-semibold">Hiểu Nguyên Tắc Lập Trình:</span> Thông qua việc lập trình game, trẻ sẽ nắm vững các khái niệm cơ bản như vòng lặp, điều kiện, biến số và sự kiện, giúp tạo nền tảng vững chắc cho việc học các ngôn ngữ lập trình phức tạp hơn trong tương lai.</li>
                    </ul>
                </li>
                <li class=" font-semibold py-2 text-gray-500">
                    Kích Thích Sáng Tạo và Tư Duy Đổi Mới
                    <ul class="list-disc pl-5 text-gray-500 font-normal">
                        <li><span class="font-semibold">Tự Do Sáng Tạo Trò Chơi Riêng:</span> Scratch Game cho phép trẻ tự do sáng tạo ra các trò chơi theo ý tưởng của mình, từ cách thiết kế nhân vật, cảnh quan đến cốt truyện. Điều này không chỉ khuyến khích sự sáng tạo mà còn giúp trẻ phát triển kỹ năng thiết kế và tư duy đổi mới.</li>
                        <li><span class="font-semibold">Thúc Đẩy Tinh Thần Khám Phá:</span> Trẻ được khuyến khích thử nghiệm nhiều cách tiếp cận khác nhau trong việc phát triển game, từ đó học hỏi và cải thiện kỹ năng lập trình của mình.</li>
                    </ul>
                </li>
                <li class=" font-semibold py-2 text-gray-500">
                    Tăng Cường Kỹ Năng Giải Quyết Vấn Đề Trong Ngữ Cảnh Thực Tế
                    <ul class="list-disc pl-5  text-gray-500 font-normal">
                        <li><span class="font-semibold">Phân Tích và Xử Lý Tình Huống:</span> Khi tạo game, trẻ sẽ đối mặt với nhiều thử thách cần giải quyết, chẳng hạn như cách xử lý lỗi hoặc làm cho trò chơi hoạt động mượt mà. Điều này giúp trẻ rèn luyện khả năng phân tích và giải quyết vấn đề trong ngữ cảnh thực tế.</li>
                        <li><span class="font-semibold">Làm Việc Theo Quy Trình:</span> Việc phát triển một trò chơi từ ý tưởng đến sản phẩm hoàn thiện yêu cầu trẻ phải làm việc theo quy trình cụ thể, từ lập kế hoạch, thiết kế, lập trình đến kiểm thử và chỉnh sửa.</li>
                    </ul>
                </li>
                <li class="font-semibold py-2 text-gray-500">
                    Phát Triển Kỹ Năng Làm Việc Nhóm và Giao Tiếp
                    <ul class="list-disc pl-5  text-gray-500 font-normal">
                        <li><span class="font-semibold">Hợp Tác và Chia Sẻ:</span> Trong các lớp học Scratch Game, trẻ thường làm việc theo nhóm để cùng nhau phát triển các dự án game. Điều này giúp trẻ học cách làm việc nhóm, chia sẻ ý tưởng và cùng nhau giải quyết vấn đề.</li>
                        <li><span class="font-semibold">Phát Triển Kỹ Năng Giao Tiếp:</span> Khi làm việc nhóm, trẻ cần giao tiếp để trình bày ý tưởng của mình và thảo luận về các giải pháp, giúp cải thiện kỹ năng giao tiếp và thuyết trình.
                    </ul>
                </li>
            </ul>
        </div>
        <h3 class="text-2xl font-bold text-orange-400">Nội dung khóa học!</h3>
        <div class="my-4">
            <ul class=" pl-5 text-gray-500">
                <li><span class="font-semibold">Giới Thiệu về Scratch và Lập Trình Kéo-Thả:</span> Trẻ học cách tạo và lập trình các hành động cho nhân vật trong trò chơi, bao gồm di chuyển, nhảy, thay đổi trang phục, và tương tác với các đối tượng khác.</li>
                <li><span class="font-semibold">Tạo và Điều Khiển Nhân Vật</span>Trẻ học cách tạo và lập trình các hành động cho nhân vật trong trò chơi, bao gồm di chuyển, nhảy, thay đổi trang phục, và tương tác với các đối tượng khác.</li>
                <li><span class="font-semibold">Thiết Kế Bối Cảnh và Môi Trường Trò Chơi:</span>Trẻ sẽ học cách tạo các bối cảnh và môi trường cho trò chơi, sử dụng hình ảnh và âm thanh để làm cho trò chơi sống động hơn.</li>
                <li><span class="font-semibold">Xây Dựng Cốt Truyện và Cấp Độ</span>Trẻ học cách phát triển cốt truyện cho trò chơi, tạo ra các cấp độ khác nhau để tăng độ khó và thử thách cho người chơi.</li>
                <li><span class="font-semibold">Lập Trình Logic và Điều Kiện:</span>Trẻ sẽ được học về các khái niệm lập trình như vòng lặp, điều kiện, và biến số để tạo ra các trò chơi có tính tương tác cao.</li>
                <li><span class="font-semibold">Kiểm Thử và Chỉnh Sửa:</span>Trẻ sẽ học cách kiểm thử trò chơi của mình, phát hiện lỗi, và chỉnh sửa để đảm bảo trò chơi hoạt động mượt mà và chính xác.</li>
                <li><span class="font-semibold">Chia Sẻ và Học Từ Cộng Đồng:</span>Trẻ được khuyến khích chia sẻ trò chơi của mình với cộng đồng Scratch, học hỏi từ các trò chơi của bạn bè và phát triển kỹ năng giao tiếp và làm việc nhóm.</li>
            </ul>
        </div>
        <h3 class="text-2xl font-bold text-orange-400">Thông tin khóa học</h3>
        <div class="my-4">
            <!-- check - start -->
            <div class="flex gap-2 items-center my-4">
                <i class="fa-solid fa-child-reaching text-gray-500 text-xl ml-0.5"></i>

                <span class="text-gray-500">10 - 15 tuổi</span>
            </div>
            <!-- check - end -->
            <!-- check - start -->
            <div class="flex gap-2 items-center my-4">
                <i class="fa-regular fa-calendar-days text-gray-500 text-xl"></i>

                <span class="text-gray-500">1 buổi/tuần</span>
            </div>
            <!-- check - end -->
            <!-- check - start -->
            <div class="flex gap-2 items-center my-4">
                <i class="fa-regular fa-clock text-gray-500 text-xl"></i>

                <span class="text-gray-500">2 tiếng</span>
            </div>
            <!-- check - end -->
        </div> *@
    </div>
    <input class="expand-btn" type="checkbox" />
    
</div>

@* Content *@

@* Gallery *@
@if (Model.Galleries.Count != 0)
{
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 text-white capitalize bg-orange-400 py-2 md:mb-8 lg:text-3xl xl:mb-12">HÌNH ẢNH KHÓA HỌC</h2>

    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-2">
            @{
                // Khởi tạo một danh sách với 4 phần tử để lưu các danh sách hình ảnh
                var imageGroups = new List<List<string>> {
        new List<string>(),
        new List<string>(),
        new List<string>(),
        new List<string>()
        };

                int index = 0;

                // Phân chia các hình ảnh vào các nhóm
                foreach (var item in Model.Galleries)
                {
                    // Thêm hình ảnh vào nhóm tương ứng
                    imageGroups[index].Add(item.Img);

                    // Tăng chỉ số, nếu chỉ số >= 4 thì đặt lại về 0
                    index = (index + 1) % 4;
                }
            }

            @for (int i = 0; i < 4; i++)
            {
                <div class="space-y-2">
                    @foreach (var img in imageGroups[i])
                    {
                        <img class="w-full h-auto object-cover" src="@img" alt="Gallery Image">
                    }
                </div>
            }
        </div>
    </div>
}
else
{
    @* Không có gì *@
}
@* Gallery *@

@* Pricing *@
@if (Model.Pricings.Count != 0)
{
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 text-white capitalize bg-orange-400 py-2 md:mb-8 lg:text-3xl xl:mb-12">HỌC PHÍ</h2>

    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-xl px-4 md:px-8">

            <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 lg:gap-8">
                @foreach (var item in Model.Pricings)
                {
                    <!-- plan - start -->
                    <div class="flex flex-col rounded-lg border-2 p-4 pt-6
        @(item.IdPricingCategoryNavigation.Id == 1 ? "border-gray-500" :
          item.IdPricingCategoryNavigation.Id == 2 ? "border-blue-500" :
          item.IdPricingCategoryNavigation.Id == 3 ? "border-orange-500" :
          item.IdPricingCategoryNavigation.Id == 4 ? "border-red-500" : "")">
                        <div class="mb-12">
                            <div class="mb-2 text-center text-2xl font-bold capitalize
                                @(item.IdPricingCategoryNavigation.Id == 1 ? "text-gray-500" :
                                  item.IdPricingCategoryNavigation.Id == 2 ? "text-blue-500" :
                                  item.IdPricingCategoryNavigation.Id == 3 ? "text-orange-500" :
                                  item.IdPricingCategoryNavigation.Id == 4 ? "text-red-500" : "")
                                            ">
                                @item.IdPricingCategoryNavigation.Name
                            </div>

                            <p class="mx-auto mb-8 px-8 text-center text-gray-500">@item.Subtext</p>

                            <div class="space-y-2">
                                @foreach (var p in item.IdBenefits)
                                {
                                    <!-- check - start -->
                                    <div class="flex gap-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0
                                    @(item.IdPricingCategoryNavigation.Id == 1 ? "text-gray-500" :
                                      item.IdPricingCategoryNavigation.Id == 2 ? "text-blue-500" :
                                      item.IdPricingCategoryNavigation.Id == 3 ? "text-orange-500" :
                                      item.IdPricingCategoryNavigation.Id == 4 ? "text-red-500" : "")" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                        </svg>

                                        <span class="text-gray-600">@p.BenefitDescription</span>
                                    </div>
                                    <!-- check - end -->
                                }
                            </div>
                        </div>

                        <div class="mt-auto flex flex-col gap-8">
                            <div class="flex items-end justify-center gap-1">
                                <span class="self-start text-gray-600">@item.Currency</span>
                                <span class="text-4xl font-bold text-gray-800">@item.Price?.ToString("#,##0.000")</span>
                                <span class="text-gray-500">@item.UserCategory/@item.DurationCourse</span>
                            </div>

                            <a asp-controller="Home" asp-action="Contact" id="callButton" class="block rounded-lg px-8 py-3 text-white text-center text-sm font-semibold outline-none ring-indigo-300 transition duration-100
          @(item.IdPricingCategoryNavigation.Id == 1 ? "bg-gray-500" :
          item.IdPricingCategoryNavigation.Id == 2 ? "bg-blue-500" :
          item.IdPricingCategoryNavigation.Id == 3 ? "bg-orange-500" :
          item.IdPricingCategoryNavigation.Id == 4 ? "bg-red-500" : "")
          @(item.IdPricingCategoryNavigation.Id == 1 ? "hover:bg-gray-600" :
          item.IdPricingCategoryNavigation.Id == 2 ? "hover:bg-blue-600" :
          item.IdPricingCategoryNavigation.Id == 3 ? "hover:bg-orange-600" :
          item.IdPricingCategoryNavigation.Id == 4 ? "hover:bg-red-600" : "")
           focus-visible:ring active:text-gray-700 md:text-base">Liên hệ</a>
                        </div>
                    </div>
                    <!-- plan - end -->
                }

            </div>
        </div>
    </div>
}
else
{
    @* Không hiển thị gì *@
}
@* Pricing *@

<script>
    const slides = document.querySelectorAll('#slideshow img');
    let currentIndex = 0;

    function showNextImage() {
        slides[currentIndex].classList.remove('active');
        currentIndex = (currentIndex + 1) % slides.length;
        slides[currentIndex].classList.add('active');
    }

    setInterval(showNextImage, 5000); // Chuyển ảnh mỗi 5 giây

    // Hiển thị ảnh đầu tiên khi tải trang
    slides[currentIndex].classList.add('active');

    document.getElementById("callButton").addEventListener("click", function () {
        window.location.href = "tel:+84522925104"; // Thay đổi số điện thoại này bằng số của bạn
    });

</script>

<style>
    .scroll-container {
        scrollbar-width: none; /* Ẩn scrollbar trên Firefox */
        -ms-overflow-style: none; /* Ẩn scrollbar trên IE và Edge */
    }

        .scroll-container::-webkit-scrollbar {
            display: none; /* Ẩn scrollbar trên Chrome, Safari và Opera */
        }

    #slideshow {
        position: relative;
    }

        #slideshow img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

            #slideshow img.active {
                opacity: 1;
            }
</style>