@model RoboScratchStudio.Models.Course

@{
    Layout = "~/Views/Shared/_Layout_no_carousel.cshtml";
}

<h2 class=" flex items-center mb-4 px-4 mt-4 text-base text-white bg-orange-400 py-2 md:mb-8 lg:text-xl xl:mb-12">Home <i class="fa-solid fa-chevron-right px-2"></i> @Model.Name</h2>

@* Detail *@
<div class="grid gap-8 mb-4 md:grid-cols-2 md:mb-8">
    <!-- images - start -->
    <div class=" grid gap-4 lg:grid-cols-4">
        <div id="slideshow" class="order-first relative overflow-hidden rounded-lg bg-gray-100 lg:col-span-4">
            @foreach (var item in Model.CourseTitleImages)
            {
                <img src="~/assets/images/@item.ImageTitle" alt="Photo" class="w-full h-auto rounded-lg object-cover object-center absolute opacity-0 transition-opacity duration-1000" />

            }
        </div>
    </div>


    <!-- images - end -->
    <!-- content - start -->
    <div class="md:py-8">
        <!-- name - start -->
        <div class="mb-2 md:mb-3">
            <h2 class="w-fit text-2xl px-6 py-2 font-bold text-white bg-orange-500 rounded-full lg:text-3xl">@Model.Name</h2>
        </div>
        <!-- name - end -->
        @* Description *@
        <div class="w-full mb-2 md:mb-3">
            <p class="my-2">@Model.Subtext</p>
            <div class="space-y-2">
                <!-- check - start -->
                <div class="flex gap-2 items-center">
                    <i class="fa-solid fa-child-reaching text-xl ml-0.5"></i>

                    <span class="text-gray-600">@Model.AgeRequest</span>
                </div>
                <!-- check - end -->
                <!-- check - start -->
                <div class="flex gap-2 items-center">
                    <i class="fa-regular fa-calendar-days text-xl"></i>

                    <span class="text-gray-600">@Model.DurationInWeek</span>
                </div>
                <!-- check - end -->
                <!-- check - start -->
                <div class="flex gap-2 items-center">
                    <i class="fa-regular fa-clock text-xl"></i>

                    <span class="text-gray-600">@Model.DurationInDay</span>
                </div>
                <!-- check - end -->
            </div>
        </div>
        @* Description *@
        <!-- buttons - start -->
        <div class="flex gap-2.5 mt-auto">
            <a href="#" class="w-full inline-block flex-1 rounded-lg bg-orange-500 px-8 py-3 text-center text-sm font-semibold text-white ease-in-out duration-300 outline-none ring-orange-300 transition duration-100 hover:bg-orange-600 focus-visible:ring active:bg-orange-700 sm:flex-none md:text-base">Contact now</a>
        </div>
        <!-- buttons - end -->
    </div>
    <!-- content - end -->
</div>
@* Detail *@

@* Gallery *@
<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 text-white capitalize bg-orange-400 py-2 md:mb-8 lg:text-3xl xl:mb-12">GALLERY</h2>

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-2">
        @{
            // Khởi tạo một danh sách với 4 phần tử để lưu các danh sách hình ảnh
            var imageGroups = new List<List<string>> {
        new List<string>(),
        new List<string>(),
        new List<string>(),
        new List<string>()
        };

            int index = 0;

            // Phân chia các hình ảnh vào các nhóm
            foreach (var item in Model.Galleries)
            {
                // Thêm hình ảnh vào nhóm tương ứng
                imageGroups[index].Add(item.Img);

                // Tăng chỉ số, nếu chỉ số >= 4 thì đặt lại về 0
                index = (index + 1) % 4;
            }
        }

        @for (int i = 0; i < 4; i++)
        {
            <div class="space-y-2">
                @foreach (var img in imageGroups[i])
                {
                    <img class="w-full h-auto object-cover" src="~/assets/activities/images/@img" alt="Gallery Masonry Image">
                }
            </div>
        }
    </div>
</div>
@* Gallery *@

@* Pricing *@
<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 text-white capitalize bg-orange-400 py-2 md:mb-8 lg:text-3xl xl:mb-12">PRICING</h2>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">

        <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 lg:gap-8">
            @foreach (var item in Model.Pricings)
            {
                <!-- plan - start -->
                <div class="flex flex-col rounded-lg border-2 p-4 pt-6 
        @(item.IdPricingCategoryNavigation.Id == 1 ? "border-gray-500" :
          item.IdPricingCategoryNavigation.Id == 2 ? "border-red-500" :
          item.IdPricingCategoryNavigation.Id == 3 ? "border-orange-500" :
          item.IdPricingCategoryNavigation.Id == 4 ? "border-blue-500" : "")">
                    <div class="mb-12">
                        <div class="mb-2 text-center text-2xl font-bold text-gray-800">@item.IdPricingCategoryNavigation.Name</div>

                        <p class="mx-auto mb-8 px-8 text-center text-gray-500">@item.Subtext</p>

                        <div class="space-y-2">
                            @foreach (var p in item.IdBenefits)
                            {
                                <!-- check - start -->
                                <div class="flex gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                    </svg>

                                    <span class="text-gray-600">@p.BenefitDescription</span>
                                </div>
                                <!-- check - end -->
                            }
                        </div>
                    </div>

                    <div class="mt-auto flex flex-col gap-8">
                        <div class="flex items-end justify-center gap-1">
                            <span class="self-start text-gray-600">@item.Currency</span>
                            <span class="text-4xl font-bold text-gray-800">@item.Price?.ToString("#,##0.000")</span>
                            <span class="text-gray-500">@item.UserCategory/@item.DurationCourse</span>
                        </div>

                        <a href="#" class="block rounded-lg px-8 py-3 text-white text-center text-sm font-semibold outline-none ring-indigo-300 transition duration-100
          @(item.IdPricingCategoryNavigation.Id == 1 ? "bg-gray-500" :
          item.IdPricingCategoryNavigation.Id == 2 ? "bg-red-500" :
          item.IdPricingCategoryNavigation.Id == 3 ? "bg-orange-500" :
          item.IdPricingCategoryNavigation.Id == 4 ? "bg-blue-500" : "")   
          @(item.IdPricingCategoryNavigation.Id == 1 ? "hover:bg-gray-600" :
          item.IdPricingCategoryNavigation.Id == 2 ? "hover:bg-red-600" :
          item.IdPricingCategoryNavigation.Id == 3 ? "hover:bg-orange-600" :
          item.IdPricingCategoryNavigation.Id == 4 ? "hover:bg-blue-600" : "")
           focus-visible:ring active:text-gray-700 md:text-base">Liên hệ</a>
                    </div>
                </div>
                <!-- plan - end -->
            }

        </div>
    </div>
</div>
@* Pricing *@

<script>
    const slides = document.querySelectorAll('#slideshow img');
    let currentIndex = 0;

    function showNextImage() {
        slides[currentIndex].classList.remove('active');
        currentIndex = (currentIndex + 1) % slides.length;
        slides[currentIndex].classList.add('active');
    }

    setInterval(showNextImage, 5000); // Chuyển ảnh mỗi 5 giây

    // Hiển thị ảnh đầu tiên khi tải trang
    slides[currentIndex].classList.add('active');
</script>

<style>
    .scroll-container {
        scrollbar-width: none; /* Ẩn scrollbar trên Firefox */
        -ms-overflow-style: none; /* Ẩn scrollbar trên IE và Edge */
    }

        .scroll-container::-webkit-scrollbar {
            display: none; /* Ẩn scrollbar trên Chrome, Safari và Opera */
        }

    #slideshow {
        position: relative;
    }

        #slideshow img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

            #slideshow img.active {
                opacity: 1;
            }
</style>